* {
  -webkit-box-sizing: border-boxp;
          box-sizing: border-boxp;
  padding: 0;
  margin: 0;
}

ul, ol, h1 {
  list-style: none;
}

a {
  text-decoration: none;
}

.hover-style, .header_menu a, .menu-more li a, .menu-more li ul li a, .buttom-days button, .buttom-days input, .team-slider .back-icon, .team-slider .next-icon, .team-slider .team-logo img, .breadcrumbs a, .coefficient nav div button, .button-selector button, .btn-more-main, .subscription-form button, .news-wrap i, .news-wrap .news-block h2 a, .rates-coffic-wrap .coefficient-title-button button, .rates-content-wrap2 .cofficent-index button, .rates-content-wrap2 .correct-score button, .rates-content-wrap2 .on-total button, .rates-content-wrap2 .handicap button, .rates-wrap .tg tr td button, .rates-content-wrap4 .coefficient-title-button button, .rates-content-wrap5 .other-legue-coff button {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.navbar-wrap {
  background: -webkit-gradient(linear, left top, right top, from(#203d5a), to(#5c1928));
  background: linear-gradient(to right, #203d5a, #5c1928);
  background-size: 100% 100%;
}

.navbar-wrap > div {
  padding: 15px;
}

/* /. navbar-wrap */
.header_menu ul {
  margin: 0;
  padding: 0;
}

.header_menu li {
  display: inline-block;
  border-right: 1px solid #ffffff13;
  padding: 4px 0px;
}

.header_menu li:last-child {
  border-right: none;
}

.header_menu a {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  color: #ffffff;
  font-weight: regular;
}

.header_menu a:hover {
  color: #db3259;
}

.menu-more {
  border-left: 1px solid #ffffff13;
  border-right: 1px solid #ffffff13;
  padding: 0;
  margin-left: 129px;
  right: 0;
}

.menu-adabtive-screen {
  display: none;
}

.menu-more li ul {
  position: absolute;
  min-width: 290px;
  background: #1a506c;
  padding: 0;
  margin: 20px auto;
  right: auto;
  display: none;
  text-align: center;
  -webkit-transform: translate(-87%, 0);
          transform: translate(-87%, 0);
  z-index: 9999;
}

.menu-more li:hover > ul {
  display: block;
}

.menu-more li ul li {
  float: none;
  text-align: left;
  border-bottom: 1px solid #487389;
  padding: 18px 5px 0px;
}

.menu-more li ul li:last-child {
  border-bottom: none;
}

.menu-more li {
  padding: 4px 13px;
  text-transform: uppercase;
}

.menu-more li a {
  display: block;
  font-size: 11px;
  color: #ffffff;
  padding-bottom: 18px;
  margin-bottom: -20px;
}

.menu-more li a:hover {
  color: #db3259;
}

.menu-more li ul li a {
  display: block;
  margin: 0px 10px;
  font-size: 13px;
  color: #ffffff;
  text-transform: none;
}

.menu-more li ul li a:hover {
  color: #ffffff;
}

.menu-more li ul li:hover {
  background: #154056;
  color: #ffffff;
}

/* /. menu-more */
.navbar-footer-wrap {
  background: rgba(20, 39, 41, 0.3);
  background-size: 100% 100%;
}

.navbar-footer-wrap > div {
  padding: 15px 0px;
}

.buttom-days {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttom-days button {
  color: #ffffff;
  padding: 11px 31px;
  border-radius: 3px;
  border: none;
  background: #db3259;
  margin: 3px;
  font-size: 14px;
  cursor: pointer;
}

.buttom-days button:hover {
  background: rgba(196, 29, 65, 0.7);
}

.buttom-days .icon-calendar {
  position: absolute;
  padding: 14px 13px 13px 17px;
}

.buttom-days input {
  background: #db3259;
  font-size: 13px;
  border-radius: 3px;
  color: #ffffff;
  padding: 11px 18px 11px 39px;
  margin-top: 3px;
  margin-left: 4px;
  border: none;
  cursor: pointer;
}

.buttom-days input:hover {
  background: rgba(196, 29, 65, 0.7);
  color: #ffffff;
}

.team-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 521px;
  height: 58px;
  overflow: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.team-slider #polosa {
  position: relative;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
}

.team-slider #polosa::after {
  content: " ";
  display: block;
  clear: both;
}

.team-slider a img {
  float: left;
}

.team-slider .back-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #db3259;
  border-radius: 80%;
  font-size: 9px;
  font-weight: bold;
  margin: 16px 5px 0px;
  text-align: center;
  padding: 5px 7px 6px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
  width: 10px;
}

.team-slider .back-icon:hover {
  background: rgba(196, 29, 65, 0.7);
}

.team-slider .next-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #db3259;
  border-radius: 80%;
  font-size: 9px;
  font-weight: bold;
  margin: 16px 5px 0px;
  text-align: center;
  padding: 6px 6px 6px 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
  width: 10px;
}

.team-slider .next-icon:hover {
  background: rgba(196, 29, 65, 0.7);
}

.team-slider .team-logo {
  width: 10%;
}

.team-slider .team-logo img {
  border: 1px solid #ffffff;
  border-radius: 80%;
  padding: 10px;
  width: 23px;
  height: 24px;
  margin-right: 10px;
}

.team-slider .team-logo img:hover {
  border: 1px solid rgba(196, 29, 65, 0.7);
  background: rgba(196, 29, 65, 0.1);
}

/* /. navbar-footer */
.breadcrumbs {
  padding: 15px 0px;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.breadcrumbs a:hover {
  color: #db3259;
}

.breadcrumbs i {
  font-size: 9px;
  margin-left: 8px;
}

/* /. breadcrumbs */
/* datepicker */
.ui-datepicker, #ui-datepicker-div {
  margin-top: 20px;
  padding: 0;
  border: none;
}

.ui-datepicker-calendar {
  margin: 0;
}

.ui-datepicker .ui-datepicker-header {
  border: none;
  background: #db3259;
  color: #fff;
  font-size: 14px;
  padding: 8px;
}

.ui-datepicker .ui-datepicker-title {
  padding: 10px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker-next {
  margin-top: 10px;
}

.ui-widget-header .ui-icon:hover {
  background: none;
}

.ui-datepicker td {
  padding: 0px;
}

.ui-datepicker-calendar thead {
  background: #db3259;
  color: #ffffff;
  font-size: 13px;
}

/* main-content */
.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-wrap {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 2px;
  margin-bottom: 10px;
}

.article-wrap img {
  border-right: 1px solid #d1e4ed;
  width: 80px;
  height: 100px;
  padding: 20px 30px 30px 20px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .coefficient {
    padding: 20px 80px 0 25px;
  }
}

.coefficient h2 {
  margin: 0;
  padding-bottom: 13px;
  font-size: 17px;
  color: #3b3b3b;
}

.coefficient nav {
  font-size: 14px;
  color: #898989;
}

.coefficient nav time {
  padding-right: 10px;
  border-right: 1px solid #898989;
}

.coefficient nav span {
  padding-left: 10px;
}

.coefficient nav div {
  margin-top: 20px;
  font-size: 15px;
  color: #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coefficient nav div span {
  padding-left: 0px;
  display: block;
  width: 150px;
}

.coefficient nav div button {
  margin-left: 55px;
  padding: 8px 25px;
  border-radius: 3px;
  border: none;
  background: #1a506c;
  color: #ffffff;
  cursor: pointer;
}

.coefficient nav div button:hover {
  background: #154056;
  color: #ffffff;
}

.button-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #d1e4ed;
  padding: 35px 10px 15px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 140px;
}

.button-selector span {
  color: #3b3b3b;
  font-size: 15px;
  margin-bottom: 18px;
}

.button-selector button {
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 15px;
  border: none;
  background: #db3259;
  color: #ffffff;
  cursor: pointer;
}

.button-selector button:hover {
  background: rgba(176, 29, 65, 0.9);
}

.btn-more-main {
  width: 100%;
  padding: 15px 10px;
  border-radius: 3px;
  font-size: 15px;
  border: none;
  background: #db3259;
  color: #ffffff;
  cursor: pointer;
}

.btn-more-main:hover {
  background: rgba(176, 29, 65, 0.9);
}

.abaut-site-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 44px;
  color: #ffffff;
}

.abaut-site-wrap h2 {
  font-size: 17px;
  margin-bottom: 16px;
}

.abaut-site-wrap p {
  font-size: 14px;
  padding-top: 10px;
  line-height: 1.5;
}

/* main-content */
.left-bar-wrap {
  margin-left: 20px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.subscription {
  background: #1a506c;
  text-align: center;
  color: #ffffff;
  padding: 30px 18px;
}

.subscription h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.subscription span {
  font-size: 13px;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
}

.subscription-form input {
  border: none;
  background: #ffffff;
  font-size: 13px;
  padding: 10px 10px;
  border-radius: 3px;
  margin: 0;
  width: 100%;
}

.subscription-form button {
  margin: 0;
  font-size: 14px;
  padding: 10px 10px;
  border: none;
  background: #db3259;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.subscription-form button:hover {
  background: rgba(176, 29, 65, 0.9);
}

.news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  margin: 5px 0px;
}

.news-wrap i {
  color: #ffffff;
  position: absolute;
  background: #db3259;
  border-radius: 60%;
  font-size: 15px;
  padding: 9px 8px 10px 10px;
  margin: 6px;
  cursor: pointer;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .news-wrap i {
    margin: 6px -40px;
  }
}

.news-wrap i:hover {
  background: rgba(176, 29, 65, 0.9);
}

.news-wrap .icon-play-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news-wrap .news-block {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding: 17px;
}

.news-wrap .news-block h2 {
  font-size: 14px;
  padding-bottom: 5px;
}

.news-wrap .news-block h2 a {
  color: #2e2e2e;
}

.news-wrap .news-block h2 a:hover {
  color: rgba(176, 29, 65, 0.9);
}

.news-wrap .news-block time {
  font-size: 13px;
  color: #898989;
}

.footer-wrap {
  background: #0c364a;
  background-size: 100% 100%;
  padding: 15px;
  margin-top: 35px;
}

.footer-wrap .footer-text {
  font-size: 13px;
  color: #ffffff;
  line-height: 1.8;
}

.icon-fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.express-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.express-wrap .express-sub-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d1e4ed;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.express-wrap .express-sub-wrap:last-child {
  border-bottom: none;
}

.express-sub-buttom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.express-sub-buttom span {
  font-size: 25px;
}

/* main-rates-content */
.rates-content-wrap {
  padding: 10px 10px 20px;
}

.main-page-rates-wrap {
  max-width: 782px;
}

.rates-coffic-wrap {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rates-coffic-wrap img {
  border-right: none;
  width: auto;
  padding: 10px 30px 25px 20px;
}

.rates-coffic-wrap h3 {
  display: block ruby;
  margin-top: -20px;
}

.rates-coffic-wrap .coef-title-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #d1e4ed;
  border-left: 1px solid #d1e4ed;
  border-bottom: 1px solid #d1e4ed;
  padding: 0px 20px 17px;
  width: 200px;
}

.rates-coffic-wrap .coef-title-between {
  border-right: none;
  border-left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 40px 55px 40px;
}

.rates-coffic-wrap .coef-title-between time {
  display: block ruby;
  color: #3b3b3b;
  font-weight: bold;
  padding-bottom: 10px;
}

.rates-coffic-wrap .coef-title-between span {
  color: #898989;
  font-size: 14px;
}

.rates-coffic-wrap .first-cild-title {
  border-left: none;
}

.rates-coffic-wrap .last-cild-title {
  border-right: none;
}

.rates-coffic-wrap .coefficient-title-button {
  margin-top: 15px;
}

.rates-coffic-wrap .coefficient-title-button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 207px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 17px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background: #db3259;
  color: #ffffff;
  cursor: pointer;
}

.rates-coffic-wrap .coefficient-title-button button:hover {
  background: rgba(176, 29, 65, 0.9);
}

.time-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* rates-content-wrap2 */
.rates-content-wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.rates-content-wrap2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  width: 42%;
  margin: 6px 10px 4px 0px;
  padding: 28px;
}

.rates-content-wrap2 .cofficent-index {
  background: #ffffff;
}

.rates-content-wrap2 .cofficent-index h2 {
  font-size: 15px;
  padding-bottom: 10px;
}

.rates-content-wrap2 .cofficent-index p {
  font-size: 15px;
  color: #3b3b3b;
  margin-bottom: 13px;
}

.rates-content-wrap2 .cofficent-index button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 268px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 17px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background: #1a506c;
  color: #ffffff;
  cursor: pointer;
}

.rates-content-wrap2 .cofficent-index button:hover {
  background: #1a4860;
}

.rates-content-wrap2 .correct-score {
  background: #ffffff;
  margin-right: 0px;
}

.rates-content-wrap2 .correct-score h2 {
  font-size: 15px;
  padding-bottom: 10px;
}

.rates-content-wrap2 .correct-score p {
  font-size: 15px;
  color: #3b3b3b;
  margin-bottom: 13px;
}

.rates-content-wrap2 .correct-score button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 268px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 17px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background: #1a506c;
  color: #ffffff;
  cursor: pointer;
}

.rates-content-wrap2 .correct-score button:hover {
  background: #1a4860;
}

.rates-content-wrap2 .on-total {
  background: #ffffff;
}

.rates-content-wrap2 .on-total h2 {
  font-size: 15px;
  padding-bottom: 10px;
}

.rates-content-wrap2 .on-total p {
  font-size: 15px;
  color: #3b3b3b;
  margin-bottom: 13px;
}

.rates-content-wrap2 .on-total button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 268px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 17px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background: #1a506c;
  color: #ffffff;
  cursor: pointer;
}

.rates-content-wrap2 .on-total button:hover {
  background: #1a4860;
}

.rates-content-wrap2 .handicap {
  background: #ffffff;
  margin-right: 0px;
}

.rates-content-wrap2 .handicap h2 {
  font-size: 15px;
  padding-bottom: 10px;
}

.rates-content-wrap2 .handicap p {
  font-size: 15px;
  color: #3b3b3b;
  margin-bottom: 13px;
}

.rates-content-wrap2 .handicap button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 268px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 17px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background: #1a506c;
  color: #ffffff;
  cursor: pointer;
}

.rates-content-wrap2 .handicap button:hover {
  background: #1a4860;
}

/* rates-content-wrap3 */
.rates-content-wrap3 {
  padding: 0px;
}

.rates-wrap {
  padding: 30px 15px;
}

.rates-wrap h2 {
  margin: 0px;
  font-size: 21px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #3b3b3b;
}

.rates-wrap .tg tr td {
  padding: 10px;
  border-right: 1px solid #dae0ed;
  border-bottom: 1px solid #dae0ed;
}

.rates-wrap .tg tr td button {
  border-radius: 3px;
  font-size: 14px;
  border: none;
  padding: 8px 16px;
  background: #1a506c;
  color: #ffffff;
  cursor: pointer;
}

.rates-wrap .tg tr td button:hover {
  background: #0e1f29;
}

.rates-wrap .tg tr th {
  padding: 10px;
  border-right: 1px solid #dae0ed;
  border-bottom: 1px solid #dae0ed;
  font-size: 15px;
  color: #3b3b3b;
}

.rates-wrap .tg tr td:last-child {
  border-right: none;
}

.rates-wrap .tg tr th:last-child {
  border-right: none;
}

.rates-wrap .tg tr th:first-child {
  border-right: none;
}

.rates-wrap .tg tr td:first-child {
  border-right: none;
  padding-right: 195px;
  color: #3b3b3b;
  font-size: 16px;
}

.rates-wrap .tg tr:last-child td {
  border-bottom: none;
}

/* rates-content-wrap4 */
.rates-content-wrap4 {
  padding: 0px;
}

.rates-content-wrap4 h2 {
  margin-bottom: 20px;
}

.rates-content-wrap4 .coefficient-title-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.rates-content-wrap4 .coefficient-title-button button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 17px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background: #db3259;
  color: #ffffff;
  cursor: pointer;
}

.rates-content-wrap4 .coefficient-title-button button:hover {
  background: rgba(176, 29, 65, 0.9);
}

/* rates-content-wrap5 */
.rates-content-wrap5 {
  padding: 0px;
}

.rates-content-wrap5 h2 {
  margin-bottom: 10px;
}

.rates-content-wrap5 .other-legue-coff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-bottom: 1px solid #dae0ed;
}

.rates-content-wrap5 .other-legue-coff:last-child {
  border-bottom: none;
}

.rates-content-wrap5 .other-legue-coff h3 {
  font-size: 16px;
  color: #3b3b3b;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin-left: 5px;
}

.rates-content-wrap5 .other-legue-coff img {
  width: 52px;
  height: 65px;
  margin: 0;
  padding: 0;
  border-right: none;
}

.rates-content-wrap5 .other-legue-coff button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 30px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background: #db3259;
  color: #ffffff;
  cursor: pointer;
}

.rates-content-wrap5 .other-legue-coff button:hover {
  background: rgba(176, 29, 65, 0.9);
}

.rates-content-wrap5 > .rates-wrap {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .coefficient {
    padding: 20px 150px 0 25px;
  }
}

@media screen and (max-width: 1200px) {
  .header_menu a {
    padding: 6px 3px;
    font-size: 12px;
  }
  .menu-more {
    margin-left: 10px;
  }
  .navbar-footer-wrap > div {
    padding: 10px 20px;
  }
  .navbar-footer-wrap > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-more {
    margin-left: 140px;
  }
  .button-selector {
    padding: 35px 10px 10px 10px;
  }
  .article-wrap img {
    padding: 20px 15px 30px 20px;
  }
  .article-wrap {
    padding: 10px 2px;
  }
  .button-selector button {
    padding: 10px 20px;
    font-size: 14px;
  }
  button {
    padding: 11px 13px;
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  .icon-calendar {
    font-size: 16px;
  }
  .rates-coffic-wrap .coef-title-rates {
    width: auto;
  }
  .rates-content-wrap2 div {
    padding: 17px;
  }
  .rates-content-wrap2 .cofficent-index button, .rates-content-wrap2 .correct-score button, .rates-content-wrap2 .on-total button, .rates-content-wrap2 .handicap button {
    width: 200px;
  }
  .rates-wrap .tg tr th {
    font-size: 14px;
  }
  .rates-wrap .tg tr td:first-child {
    padding-right: 140px;
  }
  .rates-content-wrap4 {
    display: none;
  }
  .rates-content-wrap4 .canvas-diogram {
    width: 740px;
    height: 450px;
  }
  .coefficient {
    padding: 20px 140px 0 25px;
  }
}

@media screen and (max-width: 992px) {
  .header_menu a {
    padding: 6px 3px;
    font-size: 12px;
  }
  .menu-more {
    margin-left: 10px;
  }
  .buttom-days button {
    font-size: 13px;
  }
  .buttom-days input {
    font-size: 13px;
  }
  .buttom-days .icon-calendar {
    font-size: 13px;
  }
  .coefficient nav div button {
    margin-left: 0px;
  }
  .button-selector {
    padding: 35px 2px 10px 2px;
  }
  .coefficient nav div span {
    width: 140px;
  }
  .coefficient nav div button {
    padding: 6px 20px;
  }
  .left-bar-wrap {
    margin-left: 10px;
  }
  .rates-coffic-wrap h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
  }
  .rates-coffic-wrap .coef-title-rates {
    padding: 0px 17px 17px;
    width: auto;
  }
  .rates-coffic-wrap .coef-title-between time {
    font-size: 14px;
  }
  .rates-coffic-wrap .coefficient-title-button button {
    width: auto;
    font-size: 13px;
  }
  .rates-coffic-wrap .coefficient-title-button button span {
    padding-left: 15px;
  }
  .rates-coffic-wrap .coef-title-between {
    padding: 0px 40px 55px 40px;
  }
  .main-page-rates-wrap {
    max-width: auto;
  }
  .rates-wrap .tg tr td:first-child {
    padding-right: 19px;
  }
}

@media screen and (max-width: 768px) {
  .coefficient {
    padding: 20px 10px 0 25px;
  }
  .header_menu {
    display: none;
  }
  .menu-adabtive-screen {
    display: inline;
  }
  .menu-more li ul li:last-child {
    border-bottom: 1px solid #487389;
  }
  .menu-more {
    margin-left: auto;
  }
  .buttom-days button {
    padding: 11px 13px;
    font-size: 12px;
  }
  .buttom-days input {
    font-size: 12px;
  }
  .buttom-days .icon-calendar {
    font-size: 12px;
  }
  .main-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-bar-wrap {
    margin-left: 0px;
    margin-top: 15px;
  }
  .news-wrap .news-block {
    padding: 17px 45px 17px 17px;
  }
  .main-wrap {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .news-wrap .news-block {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .rates-wrap h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .article-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-wrap img {
    border-right: none;
  }
  .article-wrap .button-selector {
    border-left: none;
  }
  .article-wrap .coefficient {
    text-align: center;
    padding: 0px;
  }
  .article-wrap .coefficient h2 {
    font-size: 16px;
  }
  .article-wrap .coefficient nav div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .express-sub-wrap > .coefficient {
    text-align: initial;
    padding-top: 20px;
  }
  .express-sub-wrap > .coefficient nav div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .express-sub-buttom {
    padding-top: 0px;
  }
  .rates-content-wrap {
    padding-bottom: 25px;
  }
  .rates-coffic-wrap h3 {
    font-size: 17px;
  }
  .rates-coffic-wrap .coefficient-title-button button {
    width: 200px;
  }
  .rates-coffic-wrap .coef-title-rates {
    border: none;
  }
  .rates-coffic-wrap .coef-title-between {
    padding: 40px 40px 0px 40px;
  }
  .rates-coffic-wrap .coef-title-between time {
    font-size: 17px;
  }
  .rates-content-wrap2 div {
    width: auto;
    margin: 6px 0px;
  }
  .rates-content-wrap3 > .rates-wrap {
    padding: 10px;
  }
  .rates-content-wrap3 > .rates-wrap h2 {
    font-size: 16px;
    padding-left: 0px;
  }
  .rates-content-wrap3 > .rates-wrap .tg {
    overflow: auto;
    display: block;
    padding-left: 0px;
    width: 220px;
  }
  .rates-content-wrap3 > .rates-wrap .tg tr td {
    padding: 2px;
  }
  .rates-content-wrap3 > .rates-wrap .tg tr td button {
    padding: 8px 8px;
    font-size: 12px;
  }
  .rates-content-wrap3 > .rates-wrap .tg tr td:first-child {
    padding-right: 19px;
    font-size: 13px;
  }
  .rates-content-wrap3 > .rates-wrap .tg tr th {
    padding: 2px;
    font-size: 12px;
  }
  .rates-content-wrap5 .canvas-diogram {
    width: 350px;
  }
  .rates-content-wrap5 h1 {
    font-size: 16px;
  }
  .rates-content-wrap5 .other-legue-coff h3 {
    font-size: 14px;
  }
  .rates-content-wrap5 .other-legue-coff button {
    padding: 10px 5px;
    font-size: 11px;
  }
  .express-wrap .express-sub-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .express-wrap .express-sub-wrap > .coefficient {
    text-align: center;
  }
  .express-wrap .express-sub-wrap > .coefficient nav div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coefficient nav {
    font-size: 13px;
  }
  .subscription-form input {
    font-size: 11px;
    padding: 8px 8px;
  }
  .buttom-days button {
    padding: 11px 11px;
    font-size: 11px;
  }
  .buttom-days input {
    padding: 11px 16px 11px 30px;
    font-size: 11px;
  }
  .rates-wrap h2 {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* fonts-family */
body {
  font-family: 'Roboto Regular', sans-serif;
  background: url(../img/bg-body-min.jpg) no-repeat;
  background-size: 100% 100%;
}

.page-inner {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 17px;
  padding-left: 17px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* fonts-icon-export */
@font-face {
  font-family: 'icomoon';
  src: url("../img/icomoon/fonts/icomoon.eot?amjn32");
  src: url("../img/icomoon/fonts/icomoon.eot?amjn32#iefix") format("embedded-opentype"), url("../img/icomoon/fonts/icomoon.ttf?amjn32") format("truetype"), url("../img/icomoon/fonts/icomoon.woff?amjn32") format("woff"), url("../img/icomoon/fonts/icomoon.svg?amjn32#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: uppercase;
  line-height: 1;
  color: #ffffff;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* icon-export */
.icon-back:before {
  content: "\e900";
  margin: 0px;
}

.icon-calendar:before {
  content: "\e901";
}

.icon-menu:before {
  content: "\e902";
  display: block;
  -webkit-transform: scale(2, 1);
  /* Safari and Chrome */
  /* Firefox */
  /* IE 9 */
  /* Opera */
  transform: scale(2, 1);
  /* W3C */
  font-size: 12px;
  margin-left: 9px;
  margin-bottom: 3px;
}

.icon-next:before {
  content: "\e903";
  margin: 0;
  padding: 0;
}

.icon-play-button:before {
  content: "\e904";
}

.imgScrollWrap {
  position: relative;
  width: 568px;
  overflow: hidden;
}

.imgScrollBtn01, .imgScrollBtn02 {
  position: absolute;
  display: block;
  width: 30px;
  height: 40px;
  background: url(images/mainBG1.png) no-repeat 0 0;
  overflow: hidden;
  z-index: 2;
}

.imgScrollBtn01 {
  left: -8px;
  top: -3px;
  background-position: 8px 14px;
}

.imgScrollBtn02 {
  right: -6px;
  top: -3px;
  background-position: -22px 14px;
}

.imgScrollBtn01:hover {
  background-position: 8px -25px;
  top: 14px;
}

.imgScrollBtn02:hover {
  background-position: -22px -24px;
  top: 10px;
}

.imgScrollList {
  position: absolute;
  top: 0;
  left: 29px;
  width: 560px;
  height: 120px;
  overflow: hidden;
  z-index: 1;
}

.imgScrollList ul {
  position: relative;
  width: 9999px;
  height: 120px;
}

.imgScrollList li {
  float: left;
  width: 560px;
  height: 120px;
  overflow: hidden;
}

.imgScrollList li a {
  margin-right: 5px;
}

.imgScrollList li a img {
  border: 1px solid #ffffff;
  border-radius: 80%;
  padding: 10px 8px;
  width: 25px;
  height: 22px;
}
/*# sourceMappingURL=style.css.map */
