body
  +regular
  background: url(../img/bg-body-min.jpg) no-repeat
  background-size: 100% 100%

.page-inner
  margin: 0 auto
  display: flex
  padding-right: 16px
  padding-left: 16px
  justify-content: space-between
